<div id="article-banner" style="background-image: url(<%- page.banner %>)">
  <h2 >404 - Not Found</h2>
  <p class="post-date">Lost, Lost, Lost...</p>
</div>

<main class="app-body flex-box">
  <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
  </article>
</main>

<script>
  (function() {
    $('.header').removeClass('fixed-header');
  })();
</script>
