<div id="article-banner">
  <h2>Secret Base</h2>
  <p class="post-date">Hi, You found here.</p>
</div>
<main class="app-body">
  <%
    let secret_posts = [];
    site.posts.each(post => {
      if (post.secret) {
        secret_posts.push(post);
      }
    })
  %>

  <%- partial('_partial/secret-base', { posts: secret_posts }) %>

  <% if (page.total > 1){ %>
    <%- partial('_partial/pager') %>
  <% } %>
</main>

<script>
  (function() {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header')
  })()
</script>

